<!DOCTYPE html>

<html>

<head>
    <title></title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <h3 style="text-align: center;">{{title}}</h3>
        <p>This app was designed using node.js, express, and mongoDB. It is a living project which means it is going to
            be enhanced with new features deemed necessary.</p>
        <p>Feel free to fork and contribute. You can reach me on tosinadelegan@yahoo.co.uk or <a
                href="http://www.linkedin.com/in/oluwatosinadelegan">my linkedin page</a>

        </p>

        <p><strong>CMS has the following features:</strong></p>
        <p><b>Admin Board:</b> The Admin Board serves as the entry point to the other features listed below.</p>
        <ul>

            <li>Add group: This allows you to add natural groups or departments in a church.</li>
            <li>Add member: This allows you to add your confirmed members.</li>
            <li>Add guest: This allows you to add visitor, guests, or newcomers.</li>

        </ul>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>