<html>

<head>
    <title></title>
    {{!-- <link href="css/landing-page.min.css" rel="stylesheet"> --}}
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="text-align: center;">
    <h1 style="text-align: center; padding:10px">{{title}}</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div class="card-block">
                        <h3 class="card-title">Register Member</h3>
                        <p class="card-text">Register a new member.</p>
                        <a href="/registermember" class="btn btn-primary">register</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div class="card-block">
                        <h3 class="card-title">Register Guest</h3>
                        <p class="card-text">Register a visitor or newcomers.</p>
                        <a href="/addvisitor" class="btn btn-primary">register</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div class="card-block">
                        <h3 class="card-title">Add Group</h3>
                        <p class="card-text">Add new natural group or unit.</p>
                        <a href="/addgroup" class="btn btn-primary">add</a>
                    </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">View Members</h3>
                        <p class="card-text">View all registered members.</p>
                        <a href="/members" class="btn btn-primary">view</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">View Guests</h3>
                        <p class="card-text">View all registered guests.</p>
                        <a href="/visitors" class="btn btn-primary">view</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>

</html>