<html>

<head>
    <title></title>
    <link href="css/landing-page.min.css" rel="stylesheet">
</head>

<body style="text-align: center;">
    <div class="successpage-container">
        <h1>REGISTRATION SUCCESSFUL.</h1>
        <p>{{firstname}} {{lastname}} has been registered.</p>
        <p>
            <a href="/">Return to Home</a>
            <a href="/registermember">Register a new member</a>
            <a href="/addvisitor">Register a new visitor</a>
        </p>


    </div>
</body>

</html>