{{!-- <header>
    <h1>{{title}}</h1>

    <div>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</header> --}}

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
            </div>
        </div>
    </div>
</header>