{{!-- <!DOCTYPE html>

<html>

<head>
    <title>Church Managment System</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Members</p>

        {{#each donation}}
        <p>
            <li>{{_id}} - {{#each count}} {{amount}} {{/each}}</li>
        </p>
        {{/each}}

        {{!-- <p>{{donation._id}}</p> --}}


</div>
{{>footer}}

<script src="/js/app.js"></script>
</body>

</html> --}}